LOCATE COMP "clk" SITE "A10";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;

LOCATE COMP "btn" SITE "P4";
IOBUF PORT "btn" IO_TYPE=LVCMOS33;

LOCATE COMP "led[0]" SITE "A13";
LOCATE COMP "led[1]" SITE "A12";
LOCATE COMP "led[2]" SITE "B19";
LOCATE COMP "led[3]" SITE "A18";
LOCATE COMP "led[4]" SITE "B18";
LOCATE COMP "led[5]" SITE "C17";
LOCATE COMP "led[6]" SITE "A17";
LOCATE COMP "led[7]" SITE "B17";

IOBUF PORT "led[0]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[3]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[4]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[5]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[6]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[7]" IO_TYPE=LVCMOS25;

LOCATE COMP "D0" SITE "K16"; 
LOCATE COMP "D1" SITE "J16";
LOCATE COMP "D2" SITE "H17"; 
LOCATE COMP "D3" SITE "J17";
LOCATE COMP "D4" SITE "H18";
LOCATE COMP "D5" SITE "H16";
LOCATE COMP "D6" SITE "E20";
LOCATE COMP "D7" SITE "E19";
LOCATE COMP "D8" SITE "D19";
LOCATE COMP "D9" SITE "D20"; 
LOCATE COMP "D10" SITE "C20"; 
LOCATE COMP "D11" SITE "K17";

LOCATE COMP "A0" SITE "F18";
LOCATE COMP "A1" SITE "E17"; 
LOCATE COMP "A2" SITE "E18";
LOCATE COMP "A3" SITE "D18"; 
LOCATE COMP "A4" SITE "F16";
LOCATE COMP "A5" SITE "E16";

